# Core dependencies
--upgrade pip  # Mettre à jour pip en premier
gunicorn==21.2.0  # Serveur WSGI pour le déploiement
whitenoise==6.6.0  # Pour servir les fichiers statiques

# Django et ses dépendances
Django==4.2.7
asgiref==3.7.2
sqlparse==0.4.4
dj-database-url==2.1.0  # Pour la configuration de la base de données
python-decouple==3.8  # Pour la gestion des variables d'environnement

# Dépendances de sécurité avec versions compatibles
cryptography==41.0.7  # Version spécifique pour éviter les conflits
pyOpenSSL==23.2.0  # Version compatible avec cryptography 41.0.7

# Base de données
psycopg2-binary==2.9.9  # Pour PostgreSQL

# Cache
redis==5.0.1  # Pour le cache et les files d'attente

# Utilitaires
python-dotenv==1.0.0
requests==2.31.0
urllib3==2.0.3
pydantic==1.10.8

# Autres dépendances
daphne==4.0.0
geopy==2.3.0
Pillow==10.0.0
paydunya==1.0.7
stripe==5.5.0
uvicorn==0.22.0  # Serveur ASGI pour Django Channels
zope.interface==6.0  # Requis par Twisted (dépendance de Channels)
